@import 'styles/variables';
@import 'styles/mixin';
@import 'styles/typography';
@import 'styles/breakpoints';

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;

  @include mobileBreakpoint {
    font-size: 14px;
  }
}

body {
  margin: 0;
  @include font-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main-font;
  background: $main-bg;
  @include bg-cover;
}

a {
  color: $main-font;
  text-decoration: none;
}

.main-container {
  position: relative;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;

  @include laptopBreakpoint {
    max-width: 1200px;
  }

  @include tabletBreakpoint {
    width: 95%;
    max-width: none;
  }

  @include mobileBreakpoint {
    width: auto;
    padding: 0 5%;
    margin: 0 auto;
  }
}

.content-container {
  position: relative;
  width: 100%;
  max-width: 1315px;
  margin: 0 auto;

  @include laptopBreakpoint {
    max-width: 1100px;
  }

  @include tabletBreakpoint {
    width: 90%;
    max-width: none;
  }

  @include mobileBreakpoint {
    width: auto;
    padding: 0 8%;
    margin: 0 auto;
  }
}

//BUTTONS
.btn {

}

.cabinet-btn {
  padding: .5rem 1rem;
  text-align: center;
  @include font-subtitle;
  color: $btn-font;
  background: $btn;
  border-radius: $btn-bd-radius;
  cursor: pointer;

  &:hover {
    background-color: $btn-hover;
  }

  &:after {
    content: none;
  }
}

//DECORATIONS
.title-underline {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $highlight;
  }
}
